doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='./stylesheets/materialize-css/dist/css/materialize.min.css')
    link(rel='stylesheet', href='./assets/css/materialize.css')
    //- link(rel='stylesheet', href='./assets/css/style.css')
    link(rel='stylesheet', href='./node_modules/materialize-social/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./../assets/css/materialize.css')
    title Login
  body
    main.main-container
      // Modal Trigger
      a#botaoGambis.waves-effect.waves-light.btn.modal-trigger(href='#modal1') Modal
      // Modal Structure
      #modal1.modal.modal-fixed-footer
        .modal-content
          p
            b
              | ambevStop
              b
                | receberá suas permissões para perfil publico, lista de amigos, endereço de e-mail, fotos e curtidas
          .row(style='display: flex; justify-content: space-around;')
            .col-s6
              img(src='./images/stop.png', alt='', height='56', width='50')
            .col-s6
              img(src='./images/foto_renan.png', alt='', height='56', width='50')
          .row
            p
              | Continuar como Renan
        .modal-footer
          a.waves-effect.waves-light.btn.social.facebook(href='https://www.facebook.com/StellaArtoisBrasil/', style='background-color: #3B5998;')
            i.fa.fa-facebook
            |  Aceitar
          a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!', style='background-color')
            | Cancel
  script(src='./javascripts/jquery.min.js')
  script(src='./stylesheets/materialize-css/dist/js/materialize.min.js')
  script.
    $(document).ready(function () {
      $('.modal').modal();
      $('.modal').modal('open'); 
    });

