doctype html
html(lang='en')
  head
    //- meta(charset='UTF-8')
    //- meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- meta(http-equiv='X-UA-Compatible', content='ie=edge')
    //- link(rel='stylesheet', href='./node_modules/materialize-css/dist/css/materialize.min.css')
    //- link(rel='stylesheet', href='./assets/css/materialize.css')
    //- link(rel='stylesheet', href='./assets/css/style.css')
    //- link(rel='stylesheet', href='./node_modules/materialize-social/css/materialize.min.css')
    //- link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    //- link(rel='stylesheet', href='./assets/css/materialize.css')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='./stylesheets/materialize-css/dist/css/materialize.min.css')
    link(rel='stylesheet', href='./assets/css/materialize.css')
    //- link(rel='stylesheet', href='./assets/css/style.css')
    link(rel='stylesheet', href='./node_modules/materialize-social/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./../assets/css/materialize.css')
    title Login
  body
    header
      nav(style='position: relative;')
        .nav-wrapper.blue.darken-4
          a.brand-logo.center(href='#')
            | Preços
          ul#nav-mobile.right.hide-on-med-and-down
            li
              a(href='sass.html') Sass
            li
              a(href='badges.html') Components
            li
              a(href='collapsible.html') JavaScript
    main.main-container-preco
      .row
        .col.s12.m7
          .card.horizontal(style='padding: 10px;')
            .card-image
              img(src='./images/stela.png', alt='', height='300')
            .card-stacked
              .card-content
                h3 Stella Artois
                h5 Longneck
              .card-action
                a(href='#', style='font-size: 20px; color: red;')  R$ 6,49
      .row
        .col.s12.m7
          .card.horizontal(style='padding: 10px;')
            .card-image(style='display: flex; align-items: center; justify-content: center;')
              img(src='./images/engradado.jpg', alt='')
            .card-stacked
              .card-content
                h4 Engradado Stella
                h5 Longneck
              .card-action
                a(href='#', style='font-size: 20px; color: red;')  R$ 38,00
  script(src='./javascripts/jquery.min.js')
  script(src='./stylesheets/materialize-css/dist/js/materialize.min.js')
